@import "../../Variables.scss";

hr {
  height: 2px;
  width: 100%;
  border: 0px;
  @include radial();
}

header {
  position: relative;
  display: flex;
  align-items: center;
  // margin: 1rem 0;
  margin-bottom: 1rem;
  justify-content: space-between;

  h1 {
    @include poppins();
    margin: 0;
    font-size: 1.1rem;
    display: inline;
    margin-left: 0.5rem;
  }

  // border-width: 30px;
  // border-style: solid;
  // border-image: linear-gradient(to right, black, rgba(0, 0, 0, 0)) 1 100%;
  // border-bottom: solid $darkBlue 100px;
  // border-bottom: solid linear-gradient(to bottom, $lightBlue, $darkBlue) 100px;
  //   &::after {
  //     content: "";
  //     display: block;
  //     height: 2px;
  //     width: 100%;
  //     @include radial();
  //   }
}

.userlist-bg {
  // position: fixed;
  // background: red;
  background: linear-gradient(to right, $darkBlue, $darkBlueOpacity05);
  margin-left: -0.5rem;
  border-radius: 8px;
  z-index: -1;
  position: absolute;
}

.userlist {
  &__heading {
    text-transform: uppercase;
    font-size: 1rem;
    margin: 0.5rem 0;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  &-tableWrapper {
    overflow-y: hidden;
    // overflow-x: scroll;
  }

  &-header {
    @include poppins();
    font-weight: 600;
    font-size: 0.95rem;
  }

  &-emptyMessage {
    text-align: center;
    @include poppins();
  }

  &-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    // padding: 1rem 0;
    padding: 1rem 0.5rem;
    position: relative;

    &.active {
      font-weight: 600;
      color: $white;
      background: linear-gradient(to right, $darkBlue, $darkBlueOpacity05);

      // &::after {
      //   content: "XYZ";
      //   display: block;
      //   height: 10px;
      //   // width: 100%;
      //   background: crimson;
      //   position: sticky;
      //   left: 0;
      //   top:0;
      //   // width: 50px;
      // }
    }
  }

  &-col-group {
    display: flex;
    @include transition();
    // @include for-tablet-portrait-below() {
    //   display: none;
    // }
  }

  &-col {
    // background: rebeccapurple;
    padding: 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &.flex-start {
      justify-content: flex-start;
    }
  }
  
  &-flexcol {
    // background: crimson;
    flex: 1;
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @include for-tablet-portrait-up() {
      min-width: 250px;
      flex: 0;
    }
  }

  &-verticalcol {
    // background: yellowgreen;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include for-tablet-portrait-below() {
      display: none;
    }

    &__score {
      // font-size: 0.8rem;
      // color: $pink;
      font-weight: 600;
    }
    &__timestamp {
      font-size: 0.8rem;
    }
  }

  &-userIcon {
    height: 40px;
    width: 40px;
    border: solid 2px $light50;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.8rem;
    color: $light;
    @include transition();

    &.active {
      color: #eee;
      border-color: #eee;
      background: $darkBlueOpacity05;
    }
  }

  &-userName {
    display: inline-block;
    // background: peru;
  }
}

.quizlist {
  &__header {
    text-transform: uppercase;
    font-size: 1rem;
    margin: 0.5rem 0;
    font-weight: 500;
    // text-align: right;
    // display: none;
  }

  &__quiz {
    text-decoration: none;
    display: block;
    color: $light;
    // display: flex;
    // flex-direction: column;
    padding: 1rem 1rem;
    border-radius: 8px;
    // background: cadetblue;
    // @include lato();
    &:hover {
      cursor: pointer;
      background: linear-gradient(to right, $darkBlue, $darkBlueOpacity05);
    }

    &.highlight {
      cursor: initial;
      background: linear-gradient(to right, $darkBlue, $darkBlueOpacity05);
    }

    &__title {
      font-size: 1rem;
      // margin-bottom: 0.5rem;
    }

    &__timestamp {
      font-size: 16px;
    }

    &__detail {
      display: inline-flex;
      margin-right: 1rem;
      align-items: center;
    }

    &__button {
      color: $light;
      background: $darkBlue;
      border: 0;
      border-radius: 8px;
      padding: 5px 10px;

      &.register {
        color: $white;
        background: $pink;
        cursor: pointer;
      }

      &:disabled {
        background: $light;
        color: #282828;
        box-shadow: none;
      }
    }
  }
}

.flex_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex_col {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.smallSVGWrapper {
  display: inline-block;
  height: 16px;
  width: 16px;
  fill: $light;
  margin-right: 5px;
}

.largeSVGWrapper {
  display: inline-block;
  height: 32px;
  width: 32px;
  fill: $light;
  margin-right: 5px;
  @include transition();
}
