@import "../../../Variables.scss";

main {
  @include lato();
  color: $light;
  overflow-y: auto;
  overflow-x: hidden;
  background: $lightBlue;
  // background: linear-gradient(to bottom, $lightBlue, $darkBlue);
}

hr {
  height: 2px;
  width: 100%;
  border: 0px;
  @include radial();
}

header {
  position: relative;
  display: flex;
  align-items: center;
  margin: 1rem 0;
  justify-content: space-between;

  h1 {
    @include poppins();
    margin: 0;
    font-size: 1.1rem;
    display: inline;
    margin-left: 0.5rem;
  }

  // border-width: 30px;
  // border-style: solid;
  // border-image: linear-gradient(to right, black, rgba(0, 0, 0, 0)) 1 100%;
  // border-bottom: solid $darkBlue 100px;
  // border-bottom: solid linear-gradient(to bottom, $lightBlue, $darkBlue) 100px;
  //   &::after {
  //     content: "";
  //     display: block;
  //     height: 2px;
  //     width: 100%;
  //     @include radial();
  //   }
}

.quizlist {
  &__header {
    text-transform: uppercase;
    font-size: 1rem;
    margin: 0.5rem 0;
    font-weight: 500;
    // text-align: right;
    // display: none;
  }

  &__quiz {
    // display: flex;
    // flex-direction: column;
    padding: 1rem 1rem;
    // background: cadetblue;
    // @include lato();

    &__title {
      font-size: 1rem;
      // margin-bottom: 0.5rem;
    }

    &__timestamp {
      font-size: 16px;
    }

    &__detail {
      display: inline-flex;
      margin-right: 1rem;
      align-items: center;
    }

    &__button {
      color: $light;
      background: $darkBlue;
      border: 0;
      border-radius: 8px;
      padding: 5px 10px;
    
      &.register {
        color: $white;
        background: $pink;
      }
    }

  }
}

.flex_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quizlist__quiz:hover {
  cursor: pointer;
  // background: $lightBlue;
  background: $darkBlue;
  // background: $lightPink;
}

.smallSVGWrapper {
  display: inline-block;
  height: 16px;
  width: 16px;
  fill: $light;
  margin-right: 5px;
}

.largeSVGWrapper {
  display: inline-block;
  height: 32px;
  width: 32px;
  fill: $light;
  margin-right: 5px;
}
