@import "./Variables.scss";

body {
  padding: 0;
  margin: 0;
}

:root {
  font-size: 16px;
  @include lato();
  color: #282828;
}

// #root {
// text-align: center;
// height: 100vh;
// }

// .App-logo {
//   animation: App-logo-spin infinite 20s linear;
//   height: 40vmin;
//   pointer-events: none;
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }

//   to {
//     transform: rotate(360deg);
//   }
// }

.primaryButton {
  border: 0;
  @include poppins();
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  // padding: 0.5rem 3rem;
  padding: 0.5rem;
  width: 100%;
  color: rgb(240, 240, 240);
  background: $pink;
  border-radius: 0.5rem;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.secondaryLink {
  color: #282828;
  display: block;
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  transition: all 0.2s ease-in-out;

  &:hover,
  &:focus {
    color: $pink;
  }
}

input[type="text"],
input[type="password"],
textarea {
  @include lato();
  position: relative;
  width: 100%;
  border: 0;
  background: transparent;
  color: #323232;
  padding: 0.5rem 1rem;
  border-bottom: solid 2px $lightBlue;

  &:focus {
    outline: none;
  }
}

.inputWrapper {
  position: relative;
  // width: 80%;
  margin: 1.5rem 0;
  // background: cadetblue;

  // &::before {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   height: 2px;
  //   width: 10%;
  //   background: red;
  //   bottom: 0;
  //   left: 50%;
  //   z-index: 1;
  //   transform: translateX(-50%);
  // }

  &::after {
    content: attr(data-error);
    // color: ;
    font-size: 0.9rem;
    font-weight: 500;
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 0.2rem;
  }
}

// Login.js and Signup.js
.auth {
  height: 100vh;
  background: $darkBlue;
  padding: 20px;
  display: flex;
  justify-content: center;

  .auth-card {
    border-radius: 0.5rem;
    background: $light;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 350px;

    &__logo {
      text-align: center;
      @include poppins();
      font-size: 2rem;
      font-weight: 800;
      margin-bottom: 0.5rem;
    }

    &__sublogo {
      @include lato();
      text-align: center;
      margin: 0;
      font-size: 1rem;
      // font-weight: 500;
    }

    &__title {
      @include poppins();
      font-size: 1.2rem;
      font-weight: 500;
      text-align: center;
      // text-transform: uppercase;
    }

    label {
      @include poppins();
    }
  }
}

.dashboard {
  height: 100vh;
  display: grid;
  // grid-template-columns: 250px 1fr;
  // grid-template-columns: 200px 1fr;
}

.sidenav {
  // position: fixed;
  background: #171926;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #c6c9cf;
  // width: 250px;
  display: none;

  a {
    color: #c6c9cf;
  }
  a.active {
    color: red;
  }
}

// .main {
//   overflow-x: hidden;
//   overflow-y: auto;
//   // background: linear-gradient(to bottom, #202737, #171926);
//   // background: linear-gradient(to bottom, #171926, #202737);
// }

.quiz-top3 {
  display: flex;
  justify-content: space-evenly;

  &__rank {
    // background: rebeccapurple;
    text-align: center;
    font-size: 0.8rem;
    margin: 0.5rem 0;
  }

  &__person {
    height: 42px;
    width: 42px;
    border: solid 2px $light;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
  }
}

.quiz-questionNumber {
  @include poppins();
  font-size: 1.2rem;
}

pre {
  background: $darkBlue;
  overflow-X: auto;
  // padding: 1rem;
  border: solid 1rem $darkBlue;
  border-radius: 8px;
  // font-family
  font-size: 0.9rem;
}

.quiz-options {
  // background: rebeccapurple;
  margin-top: 1rem;
  // margin-bottom: 200px;
  // background: cadetblue;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
  }

  ul li {
    // background: cadetblue;
    color: #aaaaaa;
    display: flex;
    align-items: center;
    // justify-content: center;
    position: relative;
    border-radius: 8px;
    padding-right: 1rem;
    // float: left;
    // margin: 1rem;
    width: 100%;
    // height: 100px;
    // border-bottom: 1px solid #333;

    &:hover {
      // background: $darkBlue;
      // background: linear-gradient(to right, $darkBlue, $lightBlue);
      background: linear-gradient(to right, $darkBlue, $darkBlueOpacity05);
    }
  }

  ul li input[type="radio"] {
    // position: absolute;
    visibility: hidden;
  }

  ul li label {
    // background: cadetblue;
    display: block;
    width: 100%;
    position: relative;
    // font-weight: 300;
    font-size: 1rem;
    padding: 1rem 0rem 1rem 1.5rem;
    // margin: 10px auto;
    // height: 30px;
    z-index: 9;
    cursor: pointer;
    // -webkit-transition: all 0.25s linear;
    // background: wheat;
  }

  ul li:hover label {
    color: $light;
  }

  ul li .check {
    display: block;
    position: absolute;
    border: 2px solid #aaaaaa;
    border-radius: 100%;
    height: 16px;
    width: 16px;
    // top: 30px;
    left: 1rem;
    z-index: 5;
    transition: border 0.25s linear;
    -webkit-transition: border 0.25s linear;
    // background: chocolate;
    // display: flex;
    // justify-content: center;
    // align-items: center;
  }

  ul li:hover .check {
    border: 2px solid $light;
  }

  ul li .check::before {
    display: block;
    position: absolute;
    content: "";
    border-radius: 100%;
    height: 8px;
    width: 8px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    // top: 5px;
    // left: 5px;
    // margin: auto;
    transition: background 0.25s linear;
    // -webkit-transition: background 0.25s linear;
  }

  input[type="radio"]:checked ~ .check {
    border: 2px solid $pink;
  }

  input[type="radio"]:checked ~ .check::before {
    background: $pink;
  }

  input[type="radio"]:checked ~ label {
    color: $pink;
  }
}

footer {
  // background: $darkBlue;
  // position: fixed;
  // bottom: 0;
  // display: block;
  // width: 100%;
  // margin-bottom: 1rem;

  .primaryButton {
    margin: 1rem 0;
    width: initial;
    padding: 0.5rem 2rem;
    text-transform: initial;
  }

  .flex_row {
    justify-content: space-between;
  }

  .smallSVGWrapper {
    margin: 0;
    height: 24px;
    width: 24px;
    margin-left: 1.2rem;
  }
  span {
    margin-left: 0.5rem;
  }
}

.questionForm {
  input[type="text"],
  textarea {
    color: $light;
    border-bottom: solid 1px $light;
  }

  textarea.question {
    height: 150px;
  }

  .primaryButton {
    margin: 1rem 0;
  }
}
