@import url('https://fonts.googleapis.com/css?family=Lato|Poppins:500');

$light: #c6c9cf;
$light50: rgba(198, 201, 207,.5);
$lightBlue: #202737;
$darkBlue: #171926;
$darkBlueOpacity05: rgba(22, 24, 38,0.5);

$white: white;
$pink: #D61252;
$lightPink: rgba(214, 18, 82,0.5);

@mixin lato() {
    font-family: 'Lato', sans-serif;
    // font-size: $font-size;
}

@mixin poppins() {
    font-family: 'Poppins', sans-serif;
}

@mixin radial() {
    background: radial-gradient(rgb(68, 73, 89), rgba(68, 73, 89, 0));
}

@mixin transition() {
    transition: all 0.2s ease-in-out;
}

.mb-05 {
    margin-bottom: 0.5rem;
}